/* Page */
.page {
	--z-index: 0;
	--back-color: #ffffff;
	--prime-color: initial;
	--second-color: initial;
	--accent-color: #000000;
	--accent-color-2: #84cffa80;
	display: grid;
	grid-template-columns: 1fr minmax(auto, 12.6rem) minmax(auto, 50rem) minmax(auto, 12.6rem) 1fr;
	color: var(--prime-color, revert);
	background-color: var(--back-color);
	position: relative;
	font-size: calc(18rem / 16);
	margin: 0;
	padding: 0 1vw;
	padding-bottom: 2em;
	font-family: sans-serif;
	transition: background-color 0.3s ease, color 0.3s ease;
}

@media screen and (max-width: 76.25rem) {
	.page {
		grid-template-columns: 1fr 1fr minmax(auto, 50rem) 1fr 1fr;
	}
}

@media not (prefers-reduced-motion: reduce) {
	:root {
		scroll-behavior: smooth;
	}
}

/* Dark Theme */
.page.dark {
	--back-color: #002B36;
	--prime-color: #c3d5d9;
	--second-color: #a0b2b5;
	--accent-color: #2f93da;
	--accent-color-2: #84cffa80;
}

/* Header */
.header {
	color: var(--prime-color, revert);
	padding: 2em 0 1em;
	grid-column: 3 / 4;
	grid-row: 1 / 2;
	text-align: center;
}

@media (max-width: 855px) {
	.header {
		padding: 2em 2vw;
	}
}

.header a {
	text-decoration: underline;
}

.header__heading {
	font-size: 4.5em;
	margin-top: 0;
	margin-bottom: 0.1em;
	word-wrap: break-word;
	hyphens: auto;
}

@media (max-width: 855px) {
	.header__heading {
		font-size: clamp(2rem, 9.1vw, 5rem);
	}
}

.header__sub-heading {
	display: block;
	font-size: 1.4em;
	margin-bottom: 1em;
}

.author,
.feedback {
	font-size: 1em;
	display: block;
	text-align: left;
}

.author {
	margin-bottom: 0.1em;
}

.feedback {
	margin-bottom: 1em;
}

.header__ui {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.locales {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
}

.locales::after {
	order: 2;
	content: '/';
	display: inline-block;
	font-weight: bold;
	margin: 0 0.5em;
}

.locales__lang {
	position: relative;
	font-weight: 600;
	text-decoration: none;
}

.locales__lang_ru {
	order: 1;
}

.locales__lang_en {
	order: 3;
}

/* Sticky header */
.sticky {
	display: contents;
	grid-column: 4 / 5;
	grid-row: 2 / 3;
	margin-bottom: 1em;
}

@media screen and (max-width: 76.25rem) {
	.sticky {
		grid-column: 3 / 4;
		display: grid;
		grid-template-columns: 1fr 1fr minmax(auto, 50rem) 1fr 1fr;
		width: 100%;
	}
}

.sticky-contents_fixed {
	top: 0;
	left: 0;
	z-index: 2;
}

@media screen and (max-width: 76.25rem) {
	.sticky-contents_fixed {
		position: fixed;
	}
}

.sticky-contents-btn,
.sticky-settings-btn {
	display: none;
	grid-column: 3 / 4;
	grid-row: 1 / 2;
	width: 40px;
	height: 40px;
	appearance: none;
	border: 3px solid black;
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@media screen and (max-width: 76.25rem) {
	.sticky-contents-btn,
	.sticky-settings-btn {
		display: unset;
	}
}

.dark .sticky-contents-btn,
.dark .sticky-settings-btn {
	filter: invert(1);
}

.sticky-contents-btn {
	background-image: url('../img/contents.svg');
	margin: 1em 0 0 1em;
}

.sticky-settings-btn {
	background-image: url('../img/settings.svg');
	margin: 1em 1em 0 0;
	justify-self: end;
}

.sticky-contents-btn:checked + .contents {
	display: block;
}

.sticky-settings-btn:checked + .settings {
	display: flex;
}

/* Contents */
.contents {
	box-sizing: border-box;
	position: sticky;
	top: 1em;
	overflow: auto;
	width: 100%;
	max-width: 100%;
	height: 100vh;
	padding-left: 1.5em;
	padding-bottom: 1em;
	grid-column: 4 / 5;
	grid-row: 2 / 3;
	justify-self: left;
	align-self: start;
	scrollbar-width: thin;
}

@media screen and (max-width: 76.25rem) {
	.contents {
		display: none;
		position: static;
		grid-column: 3 / 4;
		border: 2px solid var(--accent-color);
		padding: 1em;
		padding-bottom: 3em;
		width: auto;
		height: initial;
		max-height: 100vh;
		background-color: var(--back-color);
	}
}

.contents__heading {
	position: relative;
	z-index: 10;
	font-size: 1.3em;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0.4em;
}

.contents__heading-link {
	color: var(--accent-color);
	line-height: 1.2;
	font-weight: normal;
}

.contents__heading-link:visited {
	color: var(--accent-color);
}

.contents__heading-link:hover::after {
	position: absolute;
	content: '\23EB';
}

.contents__fold {
	position: relative;
	z-index: 10;
	display: flex;
	align-items: center;
	padding-bottom: 0.4em;
	font-size: 0.9em;
	cursor: pointer;
	user-select: none;
}

.contents__fold::before {
	content: '';
	display: block;
	width: 1em;
	height: 1em;
	font-size: 1.5rem;
	margin-top: 1px;
	margin-right: 0.3em;
	background-image: url('../img/eye-open.svg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.fold_folded::before {
	background-image: url('../img/eye-close.svg');
}

.fold__title {
	display: flex;
}

.contents__list {
	list-style: none;
	margin-top: 0;
	padding-left: 0;
	font-size: 1rem;	
}

.contents__title {
	position: relative;
	z-index: 10;
	display: flex;
	align-items: center;
}

.list__fold-button {
	display: inline-block;
	padding: 0;
	width: 1.6em;
	height: 2em;
	margin-right: 0.2em;
	background-color: transparent;
	border: none;
	background-image: url('../img/fold-arrow.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	cursor: pointer;
}

.dark .list__fold-button {
	filter: invert(1);
}

.contents__list a {
	display: inline-block;
	font-size: 1.1em;
	line-height: 1.4;
}

.list__fold-button_folded {
	transform: rotate(-90deg);
}

.contents__link {
	color: var(--prime-color);
}

.contents__topics {
	list-style: none;
	font-size: 0.9em;
	padding-left: 1.9em;
	margin-left: 1.3em;
	overflow: hidden;
	transition: height 0.3s ease;
}

.contents__topics a {
	color: var(--prime-color);
	position: relative;
	padding-left: 0.2em;
}

/* Settings */
.settings {
	position: sticky;
	top: 4.2em;
	overflow: auto;
	box-sizing: border-box;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	max-width: 100%;
	width: 100%;
	margin-top: 4.2em;
	padding-left: 0.1em;
	padding-right: 1.5em;
	justify-self: left;
	align-self: start;
}

@media screen and (max-width: 76.25rem) {
	.settings {
		display: none;
		position: static;
		grid-column: 3 / 4;
		justify-self: end;
		border: 2px solid var(--accent-color);
		margin-top: 0;
		padding: 1em;
		width: auto;
		height: unset;
		background-color: var(--back-color);
	}
}

.settings__heading {
	color: var(--second-color);
	font-weight: normal;
	font-size: 1.3em;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0.4em;
	user-select: none;
}

.toggle__button {
	box-sizing: border-box;
	position: relative;
	width: 60px;
	height: 22px;
	border: none;
	margin: 0.3em 0;
	padding: 1.4em;
	color: var(--prime-color);
	background-image: url('../img/toggle_off.svg');
	background-repeat: no-repeat;
	background-size: 100% 120%;
	background-position: center;
	background-color: transparent;
	cursor: pointer;
}

.settings__button {
	margin: 1.1em 0;
}

.toggle__theme_dark,
.settings__anim_on {
	background-image: url('../img/toggle_on.svg');
}

.settings__fold {
	background-image: url('../img/toggle_on.svg');
}

.settings__fold_folded {
	background-image: url('../img/toggle_off.svg');
}


.toggle__button::before {
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(-100%, -50%);
	font-size: 1.5em;
	padding-right: 0.5em;
}

.toggle__theme::before {
	content: '🌗';
}

.settings__fold::before {
	content: '↕️';
}

.settings__anim::before {
	content: '🎞️';
}

.settings__label {
	font-size: 1.2em;
	position: absolute;
	width: max-content;
	top: 0;
	left: 50%;
	transform: translate(-50%, -100%);
}

.themes__label {
	padding-right: 2.4em;
	left: 0;
	top: 50%;
	transform: translate(-100%, -50%);
}

/* Main */
.main {
	width: 100%;
	max-width: 80ch;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: 2px 4px 17px -5px #b3b3b3;
	margin-bottom: 0.4em;
	grid-column: 3 / 4;
}

/* Parts */
.part {
	position: relative;
	z-index: 1;
}

.part:first-of-type {
	padding-top: 1.5em;
}

.part__heading {
	--accent-color-2: rgba(132, 207, 250, 0.3);
	display: flex;
	justify-content: space-between;
	text-align: center;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 0.1em;
	border-radius: 2px;
	padding: 0 2vw;
	margin-top: 0;
	margin-bottom: 1.5em;
	scroll-margin-top: 1em;
	scroll-snap-margin-top: 1em;
	cursor: pointer;
	user-select: none;
}

.part__heading:hover {
	box-shadow: 0px 0px 8px 1px var(--accent-color-2) inset;
}

.part__heading::before,
.part__heading::after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	width: 1em;
	height: 1em;
	background-color: transparent;
	background-image: url('../img/fold-arrow.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.heading-folded.part__heading::before {
	transform: rotate(-90deg);
}

.heading-folded.part__heading::after {
	transform: rotate(90deg);
}

.dark .part__heading::before,
.dark .part__heading::after {
	filter: invert(1);
}

.part__link {
	line-height: unset;
}

.part__content {
	overflow: hidden;
	transition: height 0.5s ease;
}

/* Sections */
.topic {
	position: relative;
	margin-bottom: 1.5em;
	padding: 0 2vw;
}

.topic:first-of-type {
	padding: 2px 2vw;
}

.topic__heading {
	font-weight: normal;
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 0.4em;
	line-height: 1.2;
	scroll-margin-top: 0.5em;
	scroll-snap-margin-top: 0.5em;
}

.topic__heading > a {
	color: var(--accent-color);
	line-height: 1.2;
}

.topic__heading > a:visited {
	color: var(--accent-color);
}

h2:target,
h4:target,
.topic__heading:target {
	background-color: var(--accent-color-2);
	transition: scroll-behavior 0.3s ease-out;
}

.dark h2:target,
.dark h4:target,
.dark .topic__heading:target {
	background-color: initial;
	outline: 2px solid var(--accent-color-2);
}

.topic__section {
	margin-bottom: 1em;
}

.topic__section:last-of-type {
	margin-bottom: 0;
}

.topic__favicon {
	width: 16px; 
	height: 16px;
	object-fit: none;
	vertical-align: middle;
	/* margin-right: 0.5em; */
}

.topic li a {
	vertical-align: middle;
}

.topic li a::before {
	content: '\00a0';
	display: inline-block;
}

.topic li span {
	vertical-align: middle;
}

.topic__list_normal li::before,
.topic__item_normal::before {
	content: '\2022\00a0';
	display: inline-block;
	vertical-align: middle;
}

p {
	color: var(--second-color, revert);
	font-size: 1em;
}

p:last-child {
	margin-bottom: 0;
}

.tip {
	cursor: help;
}

h3, h4 {
	color: var(--accent-color);
	font-weight: normal;
	font-size: 1.1em;
	margin-top: 0;
	margin-bottom: 0.4em;
	line-height: 1;
	scroll-margin-top: 0.5em;
	scroll-snap-margin-top: 0.5em;
}

ul {
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
	padding-left: 0;
}

li {
	color: var(--second-color, revert);
	line-height: 1.4;
}

a {
	color: var(--prime-color, revert);
	font-size: 1em;
	text-decoration: none;
	line-height: 1.4;
	scroll-margin-top: 0.5em;
	scroll-snap-margin-top: 0.5em;
}

a:hover {
	text-decoration: underline;
}

/* Footer */
.footer {
	color: var(--prime-color, revert);
	grid-column: 3 / 4;
	grid-row: 3 / 4;
	padding: 1em 0;
	text-align: center;
}

@media screen and (max-width: 76.25rem) {
	.footer {
		grid-row: 4 / 5;
	}
}

.copyright {
	font-size: 0.8em;
}

/* JS */
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	left: 0;
}

.no-animation {
	transition: none;
}

/* Emoji */
.contents__topics a::before {
	position: absolute;
	left: -1.5em;
	display: inline-block;
	width: 100%;
}

.topic__heading a::after {
	margin-left: 0.2em;
}

.topic__heading a[href="#roadmap"]::after {
	content: '📅';
}
.contents__topics a[href="#roadmap"]::before {
	content: '🗺️';
}
.topic__heading a[href="#manuals"]::after,
.contents__topics a[href="#manuals"]::before {
	content: '📖';
}
.topic__heading a[href="#reference"]::after,
.contents__topics a[href="#reference"]::before {
	content: '📒';
}
.topic__heading a[href="#resources"]::after,
.contents__topics a[href="#resources"]::before {
	content: '🧱';
}
.topic__heading a[href="#html"]::after,
.contents__topics a[href="#html"]::before {
	content: '📄';
}
.topic__heading a[href="#layout"]::after,
.contents__topics a[href="#layout"]::before {
	content: '📱';
}
.topic__heading a[href="#fonts"]::after,
.contents__topics a[href="#fonts"]::before {
	content: '🅱️';
}
.topic__heading a[href="#js"]::after,
.contents__topics a[href="#js"]::before {
	content: '🚀';
}
.topic__heading a[href="#backend"]::after,
.contents__topics a[href="#backend"]::before {
	content: '⚙️';
}
.topic__heading a[href="#soft"]::after,
.contents__topics a[href="#soft"]::before {
	content: '💻';
}
.topic__heading a[href="#tools"]::after,
.contents__topics a[href="#tools"]::before {
	content: '🛠️';
}
.topic__heading a[href="#qa"]::after,
.contents__topics a[href="#qa"]::before {
	content: '🔬';
}
.topic__heading a[href="#access"]::after,
.contents__topics a[href="#access"]::before {
	content: '😊';
}
.topic__heading a[href="#safe"]::after,
.contents__topics a[href="#safe"]::before {
	content: '🔒';
}
.topic__heading a[href="#speed"]::after,
.contents__topics a[href="#speed"]::before {
	content: '⏱️';
}
.topic__heading a[href="#git"]::after,
.contents__topics a[href="#git"]::before {
	content: '🐙';
}
.topic__heading a[href="#bem"]::after,
.contents__topics a[href="#bem"]::before {
	content: '🧰';
}
.topic__heading a[href="#build"]::after,
.contents__topics a[href="#build"]::before {
	content: '🏗️';
}
.topic__heading a[href="#auto"]::after,
.contents__topics a[href="#auto"]::before {
	content: '🤖';
}
.topic__heading a[href="#linters"]::after,
.contents__topics a[href="#linters"]::before {
	content: '☑️';
}
.topic__heading a[href="#news"]::after,
.contents__topics a[href="#news"]::before {
	content: '🔖';
}
.topic__heading a[href="#video"]::after,
.contents__topics a[href="#video"]::before {
	content: '📺';
}
.topic__heading a[href="#qna"]::after,
.contents__topics a[href="#qna"]::before {
	content: '🦉';
}
.topic__heading a[href="#work"]::after,
.contents__topics a[href="#work"]::before {
	content: '🗂️';
}
.topic__heading a[href="#seo"]::after,
.contents__topics a[href="#seo"]::before {
	content: '📈';
}
.topic__heading a[href="#design"]::after,
.contents__topics a[href="#design"]::before {
	content: '🤹';
}
.topic__heading a[href="#text"]::after,
.contents__topics a[href="#text"]::before {
	content: '📝';
}
.topic__heading a[href="#bad"]::after,
.contents__topics a[href="#bad"]::before {
	content: '💩';
}
.topic__heading a[href="#roadmap"]::after,
.contents__topics_default {
	list-style: disc;
}

.alternativeto_net {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -10px -10px;
}

.angular_io {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -46px -10px;
}

.app_daily_dev {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -10px -46px;
}

.apps_microsoft_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -46px -46px;
}

.caninclude_glitch_me {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -82px -10px;
}

.caniuse_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -82px -46px;
}

.code_visualstudio_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -10px -82px;
}

.codepen_io {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -46px -82px;
}

.codex_wordpress_org {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -82px -82px;
}

.creativecloud_adobe_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -118px -10px;
}

.css_tricks_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -118px -46px;
}

.css_weekly_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -118px -82px;
}

.csstriggers_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -10px -118px;
}

.dev_to {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -46px -118px;
}

.developer_chrome_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -82px -118px;
}

.developer_mozilla_org {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -118px -118px;
}

.developers_google_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -154px -10px;
}

.docs_emmet_io {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -154px -46px;
}

.docs_microsoft_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -154px -82px;
}

.wordpress_org {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -154px -118px;
}

.docs_npmjs_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -10px -154px;
}

.editorconfig_org {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -46px -154px;
}

.en_bem_info {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -82px -154px;
}

.uxplanet_org {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -118px -154px;
}

.medium_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -154px -154px;
}

.frontender_ua_medium_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -190px -10px;
}

.erdembesler_medium_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -190px -46px;
}

.eslint_style {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -190px -82px;
}

.filezilla_project_org {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -190px -118px;
}

.fonts_google_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -190px -154px;
}

.javascriptweekly_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -10px -190px;
}

.frontendfoc_us {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -46px -190px;
}

.frontendfront_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -82px -190px;
}

.frontendweekly_co {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -118px -190px;
}

.getbem_com {
	width: 16px; height: 13px;
	background: url('../img/css_spritesEN.png') -370px -296px;
}

.git_scm_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -154px -190px;
}

.github_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -190px -190px;
}

.guides_github_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -226px -10px;
}

.gulpjs_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -226px -46px;
}

.howhttps_works {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -226px -82px;
}

.html_spec_whatwg_org {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -226px -118px;
}

.htmlhint_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -226px -154px;
}

.ishadeed_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -226px -190px;
}

.jamstack_org {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -10px -226px;
}

.learn_javascript_info {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -46px -226px;
}

.javascript_info {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -82px -226px;
}

.jekyllrb_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -118px -226px;
}

.joyofcode_xyz {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -154px -226px;
}

.jsbin_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -190px -226px;
}

.svelte_dev {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -226px -226px;
}

.kit_svelte_dev {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -262px -10px;
}

.medium_muz_li {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -262px -46px;
}

.nextjs_org {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -262px -82px;
}

.nicolasgallagher_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -262px -118px;
}

.nodejs_org {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -262px -154px;
}

.nuxt_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -262px -190px;
}

.pagespeed_web_dev {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -262px -226px;
}

.philipwalton_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -10px -262px;
}

.pixabay_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -46px -262px;
}

.prettier_io {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -82px -262px;
}

.react_dev {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -118px -262px;
}

.realfavicongenerator_net {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -154px -262px;
}

.remix_run {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -190px -262px;
}

.roadmap_sh {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -226px -262px;
}

.search_google_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -262px -262px;
}

.searchengines_guru {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -298px -10px;
}

.snipcart_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -298px -46px;
}

.specificity_keegan_st {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -298px -82px;
}

.stackoverflow_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -298px -118px;
}

.svgontheweb_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -298px -154px;
}

.symbl_cc {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -298px -190px;
}

.tools_pingdom_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -298px -226px;
}

.tproger_ru {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -298px -262px;
}

.translate_yandex_ru {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -10px -298px;
}

.twitter_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -46px -298px;
}

.unsplash_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -82px -298px;
}

.uxdesign_cc {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -118px -298px;
}

.validator_w3_org {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -154px -298px;
}

.www_w3_org {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -190px -298px;
}

.vallek_github_io {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -226px -298px;
}

.vuejs_org {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -262px -298px;
}

.web_dev {
	width: 16px; height: 15px;
	background: url('../img/css_spritesEN.png') -370px -190px;
}

.web_dev_learn {
	width: 16px; height: 15px;
	background: url('../img/css_spritesEN.png') -370px -225px;
}

.webfontloader_altmann_de {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -298px -298px;
}

.webmaster_yandex_ru {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -334px -10px;
}

.webpack_js_org {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -334px -46px;
}

.webpagetest_org {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -334px -82px;
}

.www_a11yproject_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -334px -118px;
}

.www_apachefriends_org {
	width: 15px; height: 16px;
	background: url('../img/css_spritesEN.png') -370px -260px;
}

.www_atlassian_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -334px -154px;
}

.www_bram_us {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -334px -190px;
}

.www_browserstack_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -334px -226px;
}

.www_cssfontstack_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -334px -262px;
}

.www_figma_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -334px -298px;
}

.www_flaticon_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -10px -334px;
}

.www_freecodecamp_org {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -46px -334px;
}

.www_freepik_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -82px -334px;
}

.www_gatsbyjs_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -118px -334px;
}

.www_lambdatest_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -154px -334px;
}

.www_pexels_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -190px -334px;
}

.www_reddit_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -226px -334px;
}

.www_shopify_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -262px -334px;
}

.www_sitepoint_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -298px -334px;
}

.www_smashingmagazine_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -334px -334px;
}

.www_sublimetext_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -370px -10px;
}

.www_svgrepo_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -370px -46px;
}

.www_youtube_com {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -370px -82px;
}

.yandex_ru {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -370px -118px;
}

.yoksel_github_io {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -370px -154px;
}

.netlify {
	width: 16px; height: 16px;
	background: url('../img/css_spritesEN.png') -370px -334px;
}